                            МІНІСТЕРСТВО ОСВІТИ І НАУКИ УКРАЇНИ
                       НАЦІОНАЛЬНИЙ ТЕХНІЧНИЙ УНІВЕРСИТЕТ УКРАЇНИ
                           “КИЇВСЬКИЙ ПОЛІТЕХНІЧНИЙ ІНСТИТУТ”
                                 Кафедра біомедичної інженерії


                                КОМПʼЮТЕРНИЙ ПРАКТИКУМ № _1_

                               з дисципліни «Обробка та аналіз БМД»
                                 «Статистичні методи дослідження»


                                                                       Студента 2-го курсу
                                                                       групи БС-11
                                                                       Бутко В.Д.
                                         Київ 2023

1. Введення даних вручну

In [1]:
import pandas as pd

In [2]:
diamonds = pd.DataFrame(
    {
    'Carat': [0.23, 0.21, 0.23, 0.29, 0.31, 0.24, 0.24],
    'Depth': [55, 61, 65, 58, 58, 57, 57],
    'Color': ['J', 'D', 'G', 'E', 'F', 'D', 'G'],
    'Premium': [False, True, False, False, False, True, False],
    'Num owners': [1, 2, 'No owners', 3, 'In preparation', 2, 1],
    'Day': [23, 25, 1, 12, 6, 3, 28],
    'Month': [12, 4, 7, 4, 10, 9, 5],
    'Year': [2012, 1983, 1891, 2001, 2021, 2012, 1994]
    }
)
print(diamonds.dtypes)
diamonds

Carat         float64
Depth           int64
Color          object
Premium          bool
Num owners     object
Day             int64
Month           int64
Year            int64
dtype: object

   Carat  Depth Color  Premium      Num owners  Day  Month  Year
0   0.23     55     J    False               1   23     12  2012
1   0.21     61     D     True               2   25      4  1983
2   0.23     65     G    False       No owners    1      7  1891
3   0.29     58     E    False               3   12      4  2001
4   0.31     58     F    False  In preparation    6     10  2021
5   0.24     57     D     True               2    3      9  2012
6   0.24     57     G    False               1   28      5  1994

In [3]:
diamonds['Digging date'] = pd.to_datetime(diamonds[['Day', 'Month', 'Year']])

In [4]:
diamonds = diamonds.drop(columns = ['Day', 'Month', 'Year'])

In [5]:
print(diamonds.dtypes)
diamonds

Carat                  float64
Depth                    int64
Color                   object
Premium                   bool
Num owners              object
Digging date    datetime64[ns]
dtype: object

   Carat  Depth Color  Premium      Num owners Digging date
0   0.23     55     J    False               1   2012-12-23
1   0.21     61     D     True               2   1983-04-25
2   0.23     65     G    False       No owners   1891-07-01
3   0.29     58     E    False               3   2001-04-12
4   0.31     58     F    False  In preparation   2021-10-06
5   0.24     57     D     True               2   2012-09-03
6   0.24     57     G    False               1   1994-05-28

2. Завантаження даних з CSV файлу

2.1. Завантаження даних з вказанням повного шляху до файлу

In [9]:
path = '/Users/bellzebull/Documents/КПИ/4th/ОАБД/KP1/cleaned_5250.csv'
data = pd.read_csv(path, encoding = 'utf-8')
print(type(data))

<class 'pandas.core.frame.DataFrame'>

2.2. Завантаження файлу, що розміщений в робочій диреторії

In [11]:
import os

In [12]:
print(f'The working directory is: {os.getcwd()}')

The working directory is: /Users/bellzebull/Documents/КПИ/4th/ОАБД/KP1

In [14]:
data = pd.read_csv('cleaned_5250.csv')
print(type(data))

<class 'pandas.core.frame.DataFrame'>

3. Відображення завантажених даних

In [15]:
data

,name,distance,stellar_magnitude,planet_type,discovery_year,mass_multiplier,mass_wrt,radius_multiplier,radius_wrt,orbital_radius,orbital_period,eccentricity,detection_method
0,11 Comae Berenices b,304.0,4.72307,Gas Giant,2007,19.40000,Jupiter,1.080,Jupiter,1.290000,0.892539,0.23,Radial Velocity
1,11 Ursae Minoris b,409.0,5.01300,Gas Giant,2009,14.74000,Jupiter,1.090,Jupiter,1.530000,1.400000,0.08,Radial Velocity
2,14 Andromedae b,246.0,5.23133,Gas Giant,2008,4.80000,Jupiter,1.150,Jupiter,0.830000,0.508693,0.00,Radial Velocity
3,14 Herculis b,58.0,6.61935,Gas Giant,2002,8.13881,Jupiter,1.120,Jupiter,2.773069,4.800000,0.37,Radial Velocity
4,16 Cygni B b,69.0,6.21500,Gas Giant,1996,1.78000,Jupiter,1.200,Jupiter,1.660000,2.200000,0.68,Radial Velocity
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5245,XO-7 b,764.0,10.52100,Gas Giant,2019,0.70900,Jupiter,1.373,Jupiter,0.044210,0.007940,0.04,Transit
5246,YSES 2 b,357.0,10.88500,Gas Giant,2021,6.30000,Jupiter,1.140,Jupiter,115.000000,1176.500000,0.00,Direct Imaging
5247,YZ Ceti b,12.0,12.07400,Terrestrial,2017,0.70000,Earth,0.913,Earth,0.016340,0.005476,0.06,Radial Velocity
5248,YZ Ceti c,12.0,12.07400,Super Earth,2017,1.14000,Earth,1.050,Earth,0.021560,0.008487,0.00,Radial Velocity
5249,YZ Ceti d,12.0,12.07400,Super Earth,2017,1.09000,Earth,1.030,Earth,0.028510,0.012868,0.07,Radial Velocity

4. Базова статистика про завантажені дані

In [16]:
data.shape

(5250, 13)

In [19]:
data.head(n=5)

,name,distance,stellar_magnitude,planet_type,discovery_year,mass_multiplier,mass_wrt,radius_multiplier,radius_wrt,orbital_radius,orbital_period,eccentricity,detection_method
0,11 Comae Berenices b,304.0,4.72307,Gas Giant,2007,19.40000,Jupiter,1.08,Jupiter,1.290000,0.892539,0.23,Radial Velocity
1,11 Ursae Minoris b,409.0,5.01300,Gas Giant,2009,14.74000,Jupiter,1.09,Jupiter,1.530000,1.400000,0.08,Radial Velocity
2,14 Andromedae b,246.0,5.23133,Gas Giant,2008,4.80000,Jupiter,1.15,Jupiter,0.830000,0.508693,0.00,Radial Velocity
3,14 Herculis b,58.0,6.61935,Gas Giant,2002,8.13881,Jupiter,1.12,Jupiter,2.773069,4.800000,0.37,Radial Velocity
4,16 Cygni B b,69.0,6.21500,Gas Giant,1996,1.78000,Jupiter,1.20,Jupiter,1.660000,2.200000,0.68,Radial Velocity

In [20]:
data.tail(n=5)

,name,distance,stellar_magnitude,planet_type,discovery_year,mass_multiplier,mass_wrt,radius_multiplier,radius_wrt,orbital_radius,orbital_period,eccentricity,detection_method
5245,XO-7 b,764.0,10.521,Gas Giant,2019,0.709,Jupiter,1.373,Jupiter,0.04421,0.007940,0.04,Transit
5246,YSES 2 b,357.0,10.885,Gas Giant,2021,6.300,Jupiter,1.140,Jupiter,115.00000,1176.500000,0.00,Direct Imaging
5247,YZ Ceti b,12.0,12.074,Terrestrial,2017,0.700,Earth,0.913,Earth,0.01634,0.005476,0.06,Radial Velocity
5248,YZ Ceti c,12.0,12.074,Super Earth,2017,1.140,Earth,1.050,Earth,0.02156,0.008487,0.00,Radial Velocity
5249,YZ Ceti d,12.0,12.074,Super Earth,2017,1.090,Earth,1.030,Earth,0.02851,0.012868,0.07,Radial Velocity

In [27]:
data.dtypes

name                  object
distance             float64
stellar_magnitude    float64
planet_type           object
discovery_year         int64
mass_multiplier      float64
mass_wrt              object
radius_multiplier    float64
radius_wrt            object
orbital_radius       float64
orbital_period       float64
eccentricity         float64
detection_method      object
dtype: object

7. Використання функції 'describe'

In [45]:
description = data.describe()
description

,distance,stellar_magnitude,discovery_year,mass_multiplier,radius_multiplier,orbital_radius,orbital_period,eccentricity
count,5233.000000,5089.000000,5250.000000,5227.000000,5233.000000,4961.000000,5.250000e+03,5250.000000
mean,2167.168737,12.683738,2015.732190,6.434812,1.015121,6.962942,4.791509e+02,0.063568
std,3245.522087,3.107571,4.307336,12.972727,0.603479,138.673600,1.680445e+04,0.141424
min,4.000000,0.872000,1992.000000,0.020000,0.200000,0.004400,2.737851e-04,-0.520000
25%,389.000000,10.939000,2014.000000,1.804000,0.325000,0.053000,1.259411e-02,0.000000
50%,1371.000000,13.543000,2016.000000,4.170140,1.120000,0.102800,3.449692e-02,0.000000
75%,2779.000000,15.021000,2018.000000,8.000000,1.410000,0.286000,1.442163e-01,0.060000
max,27727.000000,44.610000,2023.000000,752.000000,6.900000,7506.000000,1.101370e+06,0.950000

In [29]:
data['name'].describe()

count                     5250
unique                    5250
top       11 Comae Berenices b
freq                         1
Name: name, dtype: object

In [30]:
data['stellar_magnitude'].describe()

count    5089.000000
mean       12.683738
std         3.107571
min         0.872000
25%        10.939000
50%        13.543000
75%        15.021000
max        44.610000
Name: stellar_magnitude, dtype: float64

In [39]:
cut_data = data.iloc[0:10, :]

cut_data

,name,distance,stellar_magnitude,planet_type,discovery_year,mass_multiplier,mass_wrt,radius_multiplier,radius_wrt,orbital_radius,orbital_period,eccentricity,detection_method
0,11 Comae Berenices b,304.0,4.72307,Gas Giant,2007,19.40000,Jupiter,1.080,Jupiter,1.290000,0.892539,0.23,Radial Velocity
1,11 Ursae Minoris b,409.0,5.01300,Gas Giant,2009,14.74000,Jupiter,1.090,Jupiter,1.530000,1.400000,0.08,Radial Velocity
2,14 Andromedae b,246.0,5.23133,Gas Giant,2008,4.80000,Jupiter,1.150,Jupiter,0.830000,0.508693,0.00,Radial Velocity
3,14 Herculis b,58.0,6.61935,Gas Giant,2002,8.13881,Jupiter,1.120,Jupiter,2.773069,4.800000,0.37,Radial Velocity
4,16 Cygni B b,69.0,6.21500,Gas Giant,1996,1.78000,Jupiter,1.200,Jupiter,1.660000,2.200000,0.68,Radial Velocity
5,17 Scorpii b,408.0,5.22606,Gas Giant,2020,4.32000,Jupiter,1.150,Jupiter,1.450000,1.600000,0.06,Radial Velocity
6,18 Delphini b,249.0,5.51048,Gas Giant,2008,10.30000,Jupiter,1.110,Jupiter,2.600000,2.700000,0.08,Radial Velocity
7,1RXS J160929.1-210524 b,454.0,12.61800,Gas Giant,2008,8.00000,Jupiter,1.664,Jupiter,330.000000,6505.900000,0.00,Direct Imaging
8,24 Bootis b,313.0,5.59000,Gas Giant,2018,0.91000,Jupiter,1.240,Jupiter,0.190000,0.083231,0.04,Radial Velocity
9,24 Sextantis b,235.0,6.45350,Gas Giant,2010,1.99000,Jupiter,1.190,Jupiter,1.333000,1.239699,0.09,Radial Velocity

In [40]:
new_data = ['gr1', 'gr1', 'gr2', 'gr1', 'gr2', 'gr2', 'gr2', 'gr2', 'gr1', 'gr2']
cut_data.insert(1, 'Group', new_data)
cut_data

,name,Group,distance,stellar_magnitude,planet_type,discovery_year,mass_multiplier,mass_wrt,radius_multiplier,radius_wrt,orbital_radius,orbital_period,eccentricity,detection_method
0,11 Comae Berenices b,gr1,304.0,4.72307,Gas Giant,2007,19.40000,Jupiter,1.080,Jupiter,1.290000,0.892539,0.23,Radial Velocity
1,11 Ursae Minoris b,gr1,409.0,5.01300,Gas Giant,2009,14.74000,Jupiter,1.090,Jupiter,1.530000,1.400000,0.08,Radial Velocity
2,14 Andromedae b,gr2,246.0,5.23133,Gas Giant,2008,4.80000,Jupiter,1.150,Jupiter,0.830000,0.508693,0.00,Radial Velocity
3,14 Herculis b,gr1,58.0,6.61935,Gas Giant,2002,8.13881,Jupiter,1.120,Jupiter,2.773069,4.800000,0.37,Radial Velocity
4,16 Cygni B b,gr2,69.0,6.21500,Gas Giant,1996,1.78000,Jupiter,1.200,Jupiter,1.660000,2.200000,0.68,Radial Velocity
5,17 Scorpii b,gr2,408.0,5.22606,Gas Giant,2020,4.32000,Jupiter,1.150,Jupiter,1.450000,1.600000,0.06,Radial Velocity
6,18 Delphini b,gr2,249.0,5.51048,Gas Giant,2008,10.30000,Jupiter,1.110,Jupiter,2.600000,2.700000,0.08,Radial Velocity
7,1RXS J160929.1-210524 b,gr2,454.0,12.61800,Gas Giant,2008,8.00000,Jupiter,1.664,Jupiter,330.000000,6505.900000,0.00,Direct Imaging
8,24 Bootis b,gr1,313.0,5.59000,Gas Giant,2018,0.91000,Jupiter,1.240,Jupiter,0.190000,0.083231,0.04,Radial Velocity
9,24 Sextantis b,gr2,235.0,6.45350,Gas Giant,2010,1.99000,Jupiter,1.190,Jupiter,1.333000,1.239699,0.09,Radial Velocity

9. Виведення статистики з розділенням на групи

In [43]:
cut_data.groupby('Group').describe()

      distance                                                              \
         count        mean         std   min     25%    50%     75%    max
Group
gr1        4.0  271.000000  149.739774  58.0  242.50  308.5  337.00  409.0
gr2        6.0  276.833333  138.031035  69.0  237.75  247.5  368.25  454.0

      stellar_magnitude            ... orbital_period         eccentricity  \
                  count      mean  ...            75%     max        count
Group                              ...
gr1                 4.0  5.486355  ...          2.250     4.8          4.0
gr2                 6.0  6.875728  ...          2.575  6505.9          6.0


           mean       std   min    25%    50%     75%   max
Group
gr1    0.180000  0.150776  0.04  0.070  0.155  0.2650  0.37
gr2    0.151667  0.261719  0.00  0.015  0.070  0.0875  0.68

[2 rows x 64 columns]

In [44]:
cut_data.to_csv('output.csv', encoding='utf8')

In [48]:
description.to_csv('description.csv', encoding='utf8')